@charset "utf-8";
/* CSS Document */

body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin: 0 auto;
	padding: 0;
}

tr { background-color: #FFF}
.normal { background-color: #FFF }
.highlight { background-color: #8888FF }

table.AdminSystem{
	border: 0px;
}

table{
	border:1px solid #ccc;
}

.doubleSpace {
	line-height: 20px; 
}

.LoginBar {
	font-size:11px;
	text-align:center;
}

.AdminSystem {
	font-size:14px;
	text-align:center;
}

.AdminSubSystem {
	font-size:11px;
	text-align:left;
}

a:link{
	color:#006699;
	text-decoration:none;
}

a:visited{
	color:#006699;
	text-decoration:none;
}

a:active{
	color:#006699;
	text-decoration:none;
}

a:hover{
	color:#006699;
	text-decoration:underline;
}