@charset "utf-8";
/* CSS Document */

body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

.doubleSpace {
	line-height: 20px; 
}

.LoginBar {
	font-size:11px;
}

.AdminSystem {
	font-size:14px;
	text-align:center;
}

.AdminSubSystem {
	font-size:11px;
	text-align:left;
}

a:hover{
	text-decoration:none;
}

a:visited{
	color:#006699;
}

a:active{
	color:#006699;
}

a:link{
	color:#006699;
}